openapi: 3.2.0
info:
  title: Firstpromoter Promoters API
  version: '1.0'
  description: 'Operations tagged Promoters across 2 of this provider''s published API definitions: firstpromoter-v2-affiliate-promoters-openapi.yml, firstpromoter-v2-promoters-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.firstpromoter.com/api/v2/affiliate
- url: https://api.firstpromoter.com/api/v2/company
security:
- BearerAuth: []
tags:
- name: Promoters
paths:
  /promoters/current:
    get:
      summary: Get current promoter
      tags:
      - Promoters
      parameters:
      - $ref: '#/components/parameters/AccountId'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Promoter'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  code:
                    type: string
    servers:
    - url: https://api.firstpromoter.com/api/v2/affiliate
  /promoters/sub_affiliates:
    get:
      summary: Get current promoter sub affiliates
      tags:
      - Promoters
      parameters:
      - $ref: '#/components/parameters/AccountId'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SubAffiliate'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
    servers:
    - url: https://api.firstpromoter.com/api/v2/affiliate
  /promoters/chart_data:
    get:
      summary: Get chart data
      tags:
      - Promoters
      parameters:
      - $ref: '#/components/parameters/AccountId'
      - name: promoter_campaign_id
        in: query
        description: If provided, the given promoter campaign will be used in chart. Otherwise all the current_promoter campaigns will be used.
        schema:
          type: integer
      - name: period_from
        in: query
        schema:
          type: string
          format: date
      - name: period_to
        in: query
        schema:
          type: string
          format: date
      - name: selection
        in: query
        schema:
          type: string
          enum:
          - revenue
          - commissions
          - clicks
          - referrals
          - customers
          - cancellations
      responses:
        '401':
          description: Unauthorized
    servers:
    - url: https://api.firstpromoter.com/api/v2/affiliate
  /promoters/email_from_encrypted_id:
    get:
      summary: Get the promoter email
      tags:
      - Promoters
      parameters:
      - $ref: '#/components/parameters/AccountId'
      - name: id
        in: query
        required: true
        description: The encrypted id
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  email:
                    type: string
        '422':
          description: Unprocessable Entity
    servers:
    - url: https://api.firstpromoter.com/api/v2/affiliate
  /promoters/set_password:
    put:
      summary: Set the user password
      tags:
      - Promoters
      parameters:
      - $ref: '#/components/parameters/AccountId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - id
              - user
              properties:
                id:
                  type: string
                  description: The encrypted id
                user:
                  type: object
                  required:
                  - new_password
                  - new_password_confirmation
                  properties:
                    new_password:
                      type: string
                    new_password_confirmation:
                      type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Promoter'
        '422':
          description: Unprocessable Entity
    servers:
    - url: https://api.firstpromoter.com/api/v2/affiliate
  /promoters/archive:
    post:
      summary: Archives current promoter
      tags:
      - Promoters
      parameters:
      - $ref: '#/components/parameters/AccountId'
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '422':
          description: Unprocessable Entity
    servers:
    - url: https://api.firstpromoter.com/api/v2/affiliate
  /promoters:
    get:
      summary: Get available promoters
      description: "With this endpoint you can list all promoters. \n <Tip>**HTTP Request** <br/>`GET https://api.firstpromoter.com/api/v2/company/promoters`</Tip>"
      operationId: getPromoters
      tags:
      - Promoters
      parameters:
      - $ref: '#/components/parameters/AccountId_2'
      - name: q
        in: query
        description: Search params for promoters, search using, email, name or ref_id
        required: false
        schema:
          type: string
      - name: ids[]
        in: query
        description: Array of promoter ids to get
        required: false
        schema:
          type: array
          items:
            type: integer
      - name: filters
        in: query
        description: Filter params
        required: false
        schema:
          $ref: '#/components/schemas/PromoterFilters'
      - name: sorting
        in: query
        description: Sorting params
        required: false
        schema:
          type: object
          properties:
            clicks_count:
              type: string
              enum:
              - asc
              - desc
            referrals_count:
              type: string
              enum:
              - asc
              - desc
            customers_count:
              type: string
              enum:
              - asc
              - desc
            revenue_amount:
              type: string
              enum:
              - asc
              - desc
            joined_at:
              type: string
              enum:
              - asc
              - desc
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/PromoterListItem'
                    description: List of Promoters
                  meta:
                    type: object
                    properties:
                      pending_count:
                        type: integer
        '401':
          description: Unauthorized
    post:
      summary: Create promoter
      description: "With this endpoint you can create a promoter. \n <Tip>**HTTP Request** <br/>`POST https://api.firstpromoter.com/api/v2/company/promoters`</Tip>"
      operationId: createPromoter
      tags:
      - Promoters
      parameters:
      - $ref: '#/components/parameters/AccountId_2'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PromoterCreate'
      responses:
        '201':
          description: Promoter created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Promoter_2'
        '401':
          description: Unauthorized
    servers:
    - url: https://api.firstpromoter.com/api/v2/company
  /promoters/{id}:
    get:
      summary: Get promoter details
      description: "With this endpoint you can get the details of a promoter. \n <Tip>**HTTP Request** <br/>`GET https://api.firstpromoter.com/api/v2/company/promoters/{id}`</Tip>"
      operationId: getPromoter
      tags:
      - Promoters
      parameters:
      - $ref: '#/components/parameters/AccountId_2'
      - name: id
        description: The promoter's numeric ID, or the value of the attribute specified in `find_by` (e.g. an email address, auth token, ref token, promo code, or cust_id)
        in: path
        required: true
        schema:
          type: string
      - name: find_by
        in: query
        description: Find by attribute
        schema:
          type: string
          enum:
          - email
          - cust_id
          - auth_token
          - ref_token
          - promo_code
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Promoter_2'
        '401':
          description: Unauthorized
    put:
      summary: Update promoter
      operationId: updatePromoter
      description: "With this endpoint you can update a promoter. \n <Tip>**HTTP Request** <br/>`PUT https://api.firstpromoter.com/api/v2/company/promoters/{id}`</Tip>"
      tags:
      - Promoters
      parameters:
      - $ref: '#/components/parameters/AccountId_2'
      - name: id
        in: path
        description: Id of the promoter
        required: true
        schema:
          type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PromoterUpdate'
      responses:
        '200':
          description: Promoter updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Promoter_2'
        '401':
          description: Unauthorized
    servers:
    - url: https://api.firstpromoter.com/api/v2/company
  /promoters/{id}/chart_data:
    get:
      summary: Get data used for chart
      description: With this endpoint you can get the data used for charts.<Tip>**HTTP Request** <br/>`GET https://api.firstpromoter.com/api/v2/company/promoters/{id}/chart_data`</Tip>
      operationId: getPromoterChartData
      tags:
      - Promoters
      parameters:
      - $ref: '#/components/parameters/AccountId_2'
      - name: id
        in: path
        required: true
        description: Id of the promoter
        schema:
          type: integer
      - name: period_from
        description: From date of the period for the chart, ISO date format (YYYY-MM-DD)
        in: query
        required: true
        schema:
          type: string
          format: date
      - name: period_to
        in: query
        required: true
        schema:
          type: string
          format: date
      - name: selection
        in: query
        required: true
        schema:
          type: string
          enum:
          - revenue
          - clicks
          - referrals
          - customers
          - cancellations
      responses:
        '200':
          description: Chart data retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PromoterChartData'
        '401':
          description: Unauthorized
    servers:
    - url: https://api.firstpromoter.com/api/v2/company
  /promoters/accept:
    post:
      summary: Accept promoters
      description: "With this endpoint you can accept promoters. \n <Note>If there are more than __5__ ids on the __ids__ param/field, the action will be processed asynchronously. The response for the batch status will most likely be `in_progress`. The available statuses are `pending`, `in_progress`, `completed`, `failed` and `stopped`</Note> \n <Tip>**HTTP Request** <br/>`POST https://api.firstpromoter.com/api/v2/company/promoters/accept`</Tip>"
      operationId: acceptPromoters
      tags:
      - Promoters
      parameters:
      - $ref: '#/components/parameters/AccountId_2'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - campaign_id
              properties:
                campaign_id:
                  type: integer
                  description: The ID of the campaign promoter will be accepted to
                ids:
                  $ref: '#/components/schemas/Ids'
      responses:
        '200':
          description: Operation completed successfully
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/BatchOperationResponse'
                - properties:
                    status:
                      type: string
                      enum:
                      - completed
                      description: Status of the batch operation (always completed for synchronous operations)
        '202':
          description: Batch operation accepted and processing
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/BatchOperationResponse'
                - properties:
                    status:
                      type: string
                      enum:
                      - pending
                      description: Status of the batch operation (initially pending for asynchronous operations)
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Invalid parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    servers:
    - url: https://api.firstpromoter.com/api/v2/company
  /promoters/reject:
    post:
      summary: Reject promoters
      description: "With this endpoint you can reject promoters. \n <Note>If there are more than __5__ ids on the __ids__ param/field, the action will be processed asynchronously. The response for the batch status will most likely be `in_progress`. The available statuses are `pending`, `in_progress`, `completed`, `failed` and `stopped`</Note> \n <Tip>**HTTP Request** <br/>`POST https://api.firstpromoter.com/api/v2/company/promoters/reject`</Tip>"
      operationId: rejectPromoters
      tags:
      - Promoters
      parameters:
      - $ref: '#/components/parameters/AccountId_2'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - campaign_id
              properties:
                campaign_id:
                  type: integer
                  description: The ID of the campaign promoter will be rejected from
                ids:
                  $ref: '#/components/schemas/Ids'
      responses:
        '200':
          description: Operation completed successfully
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/BatchOperationResponse'
                - properties:
                    status:
                      type: string
                      enum:
                      - completed
                      description: Status of the batch operation (always completed for synchronous operations)
        '202':
          description: Batch operation accepted and processing
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/BatchOperationResponse'
                - properties:
                    status:
                      type: string
                      enum:
                      - pending
                      description: Status of the batch operation (initially pending for asynchronous operations)
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Invalid parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    servers:
    - url: https://api.firstpromoter.com/api/v2/company
  /promoters/block:
    post:
      summary: Block promoters
      description: "With this endpoint you can block promoters. \n <Note>If there are more than __5__ ids on the __ids__ param/field, the action will be processed asynchronously. The response for the batch status will most likely be `in_progress`. The available statuses are `pending`, `in_progress`, `completed`, `failed` and `stopped`</Note> \n <Tip>**HTTP Request** <br/>`POST https://api.firstpromoter.com/api/v2/company/promoters/block`</Tip>"
      operationId: blockPromoters
      tags:
      - Promoters
      parameters:
      - $ref: '#/components/parameters/AccountId_2'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - campaign_id
              properties:
                campaign_id:
                  type: integer
                  description: The ID of the campaign promoter will be blocked from
                ids:
                  $ref: '#/components/schemas/Ids'
      responses:
        '200':
          description: Operation completed successfully
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/BatchOperationResponse'
                - properties:
                    status:
                      type: string
                      enum:
                      - completed
                      description: Status of the batch operation (always completed for synchronous operations)
        '202':
          description: Batch operation accepted and processing
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/BatchOperationResponse'
                - properties:
                    status:
                      type: string
                      enum:
                      - pending
                      description: Status of the batch operation (initially pending for asynchronous operations)
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Invalid parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    servers:
    - url: https://api.firstpromoter.com/api/v2/company
  /promoters/move_to_campaign:
    post:
      summary: Move promoters to campaign
      description: "With this endpoint you can move promoters from one campaign to another. \n <Note>If there are more than __5__ ids on the __ids__ param/field, the action will be processed asynchronously. The response for the batch status will most likely be `in_progress`. The available statuses are `pending`, `in_progress`, `completed`, `failed` and `stopped`</Note> \n <Tip>**HTTP Request** <br/>`POST https://api.firstpromoter.com/api/v2/company/promoters/move_to_campaign`</Tip>"
      operationId: movePromotersToCampaign
      tags:
      - Promoters
      parameters:
      - $ref: '#/components/parameters/AccountId_2'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - selection
              - from_campaign_id
              - to_campaign_id
              properties:
                ids:
                  $ref: '#/components/schemas/Ids'
                from_campaign_id:
                  type: integer
                  description: The ID of the campaign promoter will be moved from
                to_campaign_id:
                  type: integer
                  description: The ID of the campaign promoter will be moved to
                drip_emails:
                  type: boolean
                  description: If true, it will send an email to the promoter for this action
                soft_move_referrals:
                  type: boolean
                  description: If `true`, move referrals to NEW campaign and future commissions from existing referrals will be tracked in the NEW campaign. However, if `false`, keep referrals in the old campaign and future commissions from existing referrals will be tracked in the OLD campaign.
      responses:
        '200':
          description: Operation completed successfully
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/BatchOperationResponse'
                - properties:
                    status:
                      type: string
                      enum:
                      - completed
                      description: Status of the batch operation (always completed for synchronous operations)
        '202':
          description: Batch operation accepted and processing
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/BatchOperationResponse'
                - properties:
                    status:
                      type: string
                      enum:
                      - pending
                      description: Status of the batch operation (initially pending for asynchronous operations)
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Invalid parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    servers:
    - url: https://api.firstpromoter.com/api/v2/company
  /promoters/add_to_campaign:
    post:
      summary: Add promoters to campaign
      description: "With this endpoint you can add promoters to a campaign. \n <Note>If there are more than __5__ ids on the __ids__ param/field, the action will be processed asynchronously. The response for the batch status will most likely be `in_progress`. The available statuses are `pending`, `in_progress`, `completed`, `failed` and `stopped`</Note> \n <Tip>**HTTP Request** <br/>`POST https://api.firstpromoter.com/api/v2/company/promoters/add_to_campaign`</Tip>"
      operationId: addPromotersToCampaign
      tags:
      - Promoters
      parameters:
      - $ref: '#/components/parameters/AccountId_2'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - selection
              - campaign_id
              properties:
                ids:
                  $ref: '#/components/schemas/Ids'
                campaign_id:
                  type: integer
                  description: The ID of the campaign promoter will be added to
                drip_emails:
                  type: boolean
                  description: If true, it will send an email to the promoter for this action
      responses:
        '200':
          description: Operation completed successfully
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/BatchOperationResponse'
                - properties:
                    status:
                      type: string
                      enum:
                      - completed
                      description: Status of the batch operation (always completed for synchronous operations)
        '202':
          description: Batch operation accepted and processing
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/BatchOperationResponse'
                - properties:
                    status:
                      type: string
                      enum:
                      - pending
                      description: Status of the batch operation (initially pending for asynchronous operations)
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Invalid parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    servers:
    - url: https://api.firstpromoter.com/api/v2/company
  /promoters/assign_parent:
    post:
      summary: Assign a parent promoter
      description: "With this endpoint you can assign a parent promoter to your promoters. \n <Note>If there are more than __5__ ids on the __ids__ param/field, the action will be processed asynchronously. The response for the batch status will most likely be `in_progress`. The available statuses are `pending`, `in_progress`, `completed`, `failed` and `stopped`</Note> \n <Tip>**HTTP Request** <br/>`POST https://api.firstpromoter.com/api/v2/company/promoters/assign_parent`</Tip>"
      operationId: acceptPromoters
      tags:
      - Promoters
      parameters:
      - $ref: '#/components/parameters/AccountId_2'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - parent_promoter_id
              properties:
                parent_promoter_id:
                  type: integer
                  description: The ID of the parent promoter you want to assign the promoters to
                ids:
                  $ref: '#/components/schemas/Ids'
      responses:
        '200':
          description: Operation completed successfully
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/BatchOperationResponse'
                - properties:
                    status:
                      type: string
                      enum:
                      - completed
                      description: Status of the batch operation (always completed for synchronous operations)
        '202':
          description: Batch operation accepted and processing
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/BatchOperationResponse'
                - properties:
                    status:
                      type: string
                      enum:
                      - pending
                      description: Status of the batch operation (initially pending for asynchronous operations)
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Invalid parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    servers:
    - url: https://api.firstpromoter.com/api/v2/company
  /promoters/restore:
    post:
      summary: Restore promoters
      description: "With this endpoint you can restore promoters. \n <Note>If there are more than __5__ ids on the __ids__ param/field, the action will be processed asynchronously. The response for the batch status will most likely be `in_progress`. The available statuses are `pending`, `in_progress`, `completed`, `failed` and `stopped`</Note> \n <Tip>**HTTP Request** <br/>`POST https://api.firstpromoter.com/api/v2/company/promoters/restore`</Tip>"
      operationId: restorePromoters
      tags:
      - Promoters
      parameters:
      - $ref: '#/components/parameters/AccountId_2'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                ids:
                  $ref: '#/components/schemas/Ids'
      responses:
        '200':
          description: Operation completed successfully
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/BatchOperationResponse'
                - properties:
                    status:
                      type: string
                      enum:
                      - completed
                      description: Status of the batch operation (always completed for synchronous operations)
        '202':
          description: Batch operation accepted and processing
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/BatchOperationResponse'
                - properties:
                    status:
                      type: string
                      enum:
                      - pending
                      description: Status of the batch operation (initially pending for asynchronous operations)
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Invalid parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    servers:
    - url: https://api.firstpromoter.com/api/v2/company
components:
  schemas:
    Promoter:
      type: object
      properties:
        id:
          type: integer
        email:
          type: string
        name:
          type: string
        stats:
          type: object
          properties:
            clicks_count:
              type: integer
            referrals_count:
              type: integer
            sales_count:
              type: integer
            customers_count:
              type: integer
            revenue_amount:
              type: number
            active_customers_count:
              type: integer
        balances:
          type: object
        custom_fields:
          type: object
        first_event_at:
          type: string
          format: date-time
        invoice_details_status:
          type: string
        joined_at:
          type: string
          format: date-time
        selected_payout_method:
          type: string
        pending_contract_documents:
          type: array
          items:
            type: string
        profile:
          $ref: '#/components/schemas/PromoterProfile'
        promoter_campaigns:
          type: array
          items:
            $ref: '#/components/schemas/PromoterCampaign'
        is_confirmed:
          type: boolean
    PromoterProfile:
      type: object
      properties:
        id:
          type: integer
        first_name:
          type: string
        last_name:
          type: string
        website:
          type: string
        company_name:
          type: string
        phone_number:
          type: string
        vat_id:
          type: string
        country:
          type: string
        address:
          type: string
        avatar:
          type: string
        instagram_url:
          type: string
        youtube_url:
          type: string
        linkedin_url:
          type: string
        facebook_url:
          type: string
        twitter_url:
          type: string
        twitch_url:
          type: string
        tiktok_url:
          type: string
    PromoterCampaign:
      type: object
      properties:
        id:
          type: integer
        campaign_id:
          type: integer
        created_at:
          type: string
          format: date-time
        campaign:
          type: object
          properties:
            id:
              type: integer
            name:
              type: string
            color:
              type: string
        state:
          type: string
        promoter_id:
          type: integer
        stats:
          type: object
          properties:
            clicks_count:
              type: integer
            referrals_count:
              type: integer
            sales_count:
              type: integer
            customers_count:
              type: integer
            revenue_amount:
              type: number
        ref_token:
          type: string
        ref_link:
          type: string
        has_monetary_rewards:
          type: boolean
    SubAffiliate:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        email:
          type: string
        stats:
          type: object
          properties:
            clicks_count:
              type: integer
            referrals_count:
              type: integer
            sales_count:
              type: integer
            customers_count:
              type: integer
            revenue_amount:
              type: number
            active_customers_count:
              type: integer
        joined_at:
          type: string
          format: date-time
    Promoter_2:
      type: object
      properties:
        id:
          type: integer
          description: Id of the promoter
        email:
          type: string
          description: Email address of the promoter
        name:
          type: string
          description: Full name of the promoter
        cust_id:
          type:
          - string
          - 'null'
          description: Cust ID of the promoter
        note:
          type:
          - string
          - 'null'
          description: Optional note about the promoter
        stats:
          type: object
          description: Performance statistics for the promoter
          properties:
            clicks_count:
              type: integer
              description: Number of clicks generated
            referrals_count:
              type: integer
              description: Number of referrals generated
            sales_count:
              type: integer
              description: Number of sales generated
            customers_count:
              type: integer
              description: Number of customers referred
            revenue_amount:
              type: integer
              description: Total revenue generated
            active_customers_count:
              type: integer
              description: Number of active customers
        is_customized:
          type: boolean
          description: Whether the promoter has customized settings
        fraud_suspicions:
          type: array
          description: List of potential fraud flags
          items:
            type: string
        is_confirmed:
          type: boolean
          description: Whether the promoter has confirmed their account
        invoice_details_status:
          type: string
          description: Status of the promoter's invoice details
          enum:
          - pending
          - approved
          - denied
        profile:
          $ref: '#/components/schemas/PromoterProfile_2'
        joined_at:
          type: string
          format: date-time
          description: Date and time when the promoter joined.
        last_login_at:
          type:
          - string
          - 'null'
          format: date-time
          description: Date and time of the promoter's last login.
        archived_at:
          type:
          - string
          - 'null'
          format: date-time
          description: Date and time when the promoter was archived, if applicable.
        custom_fields:
          type:
          - object
          - 'null'
          description: Custom fields for the promoter, based on company settings. This is a key-value pair object where keys are custom field identifiers and values are the corresponding data.
        password_setup_url:
          type:
          - string
          - 'null'
          description: URL for the promoter to set up their password
        first_event_at:
          type: string
          format: date-time
          description: Date and time of the promoter's first activity.
        promoter_campaigns:
          type: array
          description: List of campaigns associated with the promoter
          items:
            type: object
            properties:
              id:
                type: integer
                description: ID of the promoter-campaign association
              campaign_id:
                type: integer
                description: ID of the campaign
              promoter_id:
                type: integer
                description: ID of the promoter
              state:
                type: string
                description: State of the promoter in this campaign
                enum:
                - pending
                - accepted
                - rejected
                - blocked
                - inactive
                - not_set
              created_at:
                type: string
                format: date-time
                description: When the promoter was added to the campaign
              campaign:
                type: object
                properties:
                  id:
                    type: integer
                    description: ID of the campaign
                  name:
                    type: string
                    description: Name of the campaign
                  color:
                    type: string
                    description: Color code associated with the campaign
              coupon:
                type: string
                description: Coupon code for this campaign
              ref_token:
                type: string
                description: Referral token for this campaign
              ref_link:
                type: string
                description: Referral link for this campaign
        balances:
          type: object
          description: Earnings balance breakdown for the promoter
          properties:
            cash:
              type:
              - number
              - 'null'
            credits:
              type:
              - number
              - 'null'
            points:
              type:
              - number
              - 'null'
            free_months:
              type:
              - number
              - 'null'
            discount:
              type:
              - number
              - 'null'
        track_ad_traffic:
          type:
          - boolean
          - 'null'
          description: Whether ad traffic tracking is enabled for this promoter. Null means the campaign default is used.
        auth_provider:
          type:
          - string
          - 'null'
          description: OAuth provider used to authenticate (e.g. google). Null if using email/password.
        selected_payout_method:
          type:
          - object
          - 'null'
          description: The promoter's currently selected payout method. Omitted when the `exclude_payout_method=true` query parameter is set.
          properties:
            id:
              type: integer
            method:
              type: string
            date_added:
              type: string
              format: date-time
            is_disabled:
              type: boolean
        parent_promoter:
          type:
          - object
          - 'null'
          description: The parent promoter (for sub-affiliate relationships). Only included when the `include_parent_promoter=true` query parameter is set.
          properties:
            id:
              type: integer
            email:
              type: string
            name:
              type:
              - string
              - 'null'
    PromoterProfile_2:
      type: object
      properties:
        id:
          type: integer
          description: ID of the profile
        first_name:
          type: string
          description: First name of the promoter
        last_name:
          type: string
          description: Last name of the promoter
        website:
          type:
          - string
          - 'null'
          description: Website of the promoter
        company_name:
          type:
          - string
          - 'null'
          description: Company name of the promoter
        company_number:
          type:
          - string
          - 'null'
          description: Company registration number
        phone_number:
          type:
          - string
          - 'null'
          description: Phone number of the promoter
        vat_id:
          type:
          - string
          - 'null'
          description: VAT ID of the promoter
        country:
          type:
          - string
          - 'null'
          description: Country in 2 characters format
          example: US
        address:
          type:
          - string
          - 'null'
          description: Address of the promoter
        avatar:
          type: string
          description: URL to the promoter's avatar image
        w8_form_url:
          type:
          - string
          - 'null'
          description: URL to the promoter's W8 form if available
        w9_form_url:
          type:
          - string
          - 'null'
          description: URL to the promoter's W9 form if available
        description:
          type:
          - string
          - 'null'
          description: Description of the promoter
        invoice_details_validation_errors:
          type:
          - object
          - 'null'
          description: Validation errors for invoice details
        should_validate_invoice_details:
          type: boolean
          description: Should validate invoice details
        instagram_url:
          type:
          - string
          - 'null'
          description: Promoter's Instagram URL
        youtube_url:
          type:
          - string
          - 'null'
          description: Promoter's YouTube URL
        linkedin_url:
          type:
          - string
          - 'null'
          description: Promoter's LinkedIn URL
        facebook_url:
          type:
          - string
          - 'null'
          description: Promoter's Facebook URL
        twitter_url:
          type:
          - string
          - 'null'
          description: Promoter's Twitter URL
        twitch_url:
          type:
          - string
          - 'null'
          description: Promoter's Twitch URL
        tiktok_url:
          type:
          - string
          - 'null'
          description: Promoter's TikTok URL
    ErrorResponse:
      type: object
      properties:
        message:
          type: string
          description: Error message
        code:
          type: string
          description: Error code
    BatchOperationResponse:
      type: object
      properties:
        id:
          type: integer
          description: Batch ID
        status:
          type: string
          enum:
          - completed
          - pending
          - in_progress
          - failed
          - stopped
          description: Status of the batch operation
        total:
          type: integer
          description: Total number of promoters
        selected_total:
          type: integer
          description: Total number of selected promoters
        processed_count:
          type: integer
          description: Number of processed promoters
        failed_count:
          type: integer
          description: Number of failed promoters
        action_label:
          type: string
          description: Label for the action
        created_at:
          type: string
          format: date-time
          description: Creation date of the batch operation
        updated_at:
          type: string
          format: date-time
          description: Last update date of the batch operation
        meta:
          type: object
          description: Additional metadata
        progress:
          type: integer
          description: Progress of the batch operation
        processing_errors:
          type: array
          items:
            type: string
          description: List of processing errors if any
    PromoterChartData:
      type: object
      properties:
        period_from:
          type: string
          format: date
          description: Start date of the chart data period
        period_to:
          type: string
          format: date
          description: End date of the chart data period
        selection:
          type: string
          description: Type of data being displayed
          enum:
          - revenue
          - clicks
          - referrals
          - customers
          - cancellations
        selection_items:
          type: array
          description: Data points for the chart
          items:
            type: array
            description: A date-value pair
            items:
              oneOf:
              - type: string
                description: Date label for the data point (format depends on group_by)
              - type: number
                description: Value for the data point
            minItems: 2
            maxItems: 2
        group_by:
          type: string
          description: Time unit used for grouping the data
          enum:
          - day
          - week
          - month
          - year
    PromoterFilters:
      type: object
      properties:
        revenue_amount:
          type: object
          description: Revenue amount filter
          properties:
            from:
              type: integer
              minimum: 0
              description: Minimum revenue amount
            to:
              type: integer
              description: Maximum revenue amount
        customers_count:
          type: object
          description: Customers count filter
          properties:
            from:
              type: integer
              minimum: 0
              description: Minimum customers count
            to:
              type: integer
              description: Maximum customers count
        referrals_count:
          type: object
          description: Referrals count filter
          properties:
            from:
              type: integer
              minimum: 0
              description: Minimum referrals count
            to:
              type: integer
              description: Maximum referrals count
        clicks_count:
          type: object
          description: Clicks count filter
          properties:
            from:
              type: integer
              minimum: 0
              description: Minimum clicks count
            to:
              type: integer
              description: Maximum clicks count
        joined_at:
          type: object
          description: Joined at filter
          properties:
            from:
              type: string
              description: Minimum joined at date, ISO date format (YYYY-MM-DD HH:MM:SS)
              format: date
            to:
              type: string
              description: Maximum joined at date, ISO date format (YYYY-MM-DD HH:MM:SS)
              format: date
        last_login_at:
          type: object
          description: Last login at filter
          properties:
            from:
              type: string
              format: date
              description: Minimum last login at date, ISO date format (YYYY-MM-DD HH:MM:SS)
            to:
              type: string
              format: date
              description: Maximum last login at date, ISO date format (YYYY-MM-DD HH:MM:SS)
        campaign_id:
          oneOf:
          - type: integer
            description: Campaign id
          - type: array
            description: Array of campaign ids
            items:
              type: integer
        state:
          type: string
          enum:
          - pending
          - accepted
          - rejected
          - blocked
          - inactive
          - not_set
          description: Promoter state filter
        has_wform:
          type: string
          enum:
          - 'yes'
          - 'no'
          description: Has wform filter
        parent_promoter_id:
          type: integer
          description: Parent promoter id
        archived:
          type: string
          enum:
          - 'true'
          - 'false'
          - '`true`'
          - '`false`'
          - '`yes`'
          - '`no`'
          description: Archived filter
        subscribed_to_email:
          type: string
          enum:
          - 'true'
          - 'false'
          - '`true`'
          - '`false`'
          - '`yes`'
          - '`no`'
          description: Subscribed to email filter
        custom_field1:
          $ref: '#/components/schemas/CustomFieldFilter'
        custom_field2:
          $ref: '#/components/schemas/CustomFieldFilter'
        fraud_suspicions:
          type: array
          items:
            type: string
            enum:
            - same_ip_suspicion
            - same_promoter_email
            - ad_source
            - no_suspicion
            description: Suspicion type filter
        inactivity:
          type: object
          description: Filter promoters by inactivity — promoters who have not performed the specified metric within the given number of days
          properties:
            metric:
              type: string
              enum:
              - referral
              - customer
              - click
              - sale
              description: The activity metric to measure inactivity against
            days:
              type: integer
              minimum: 1
              description: Number of days of inactivity
        invoice_details_status:
          type: string
          enum:
          - approved
          - pending
          - rejected
          - not_submitted
          description: Filter promoters by their invoice details status
    PromoterCreate:
      type: object
      required:
      - email
      properties:
        email:
          type: string
          format: email
          description: Email address of the promoter
        cust_id:
          type:
          - string
          - 'null'
          description: Cust ID of the promoter
        profile:
          $ref: '#/components/schemas/PromoterProfile_2'
        initial_campaign_id:
          type: integer
          description: The ID of the campaign promoter will be added first
        drip_emails:
          type: boolean
          description: Send a welcome email to the promoter
        always_approve:
          type: boolean
          default: true
          description: Whether the promoter should be automatically accepted into the campaign upon creation. Set to `false` to create the promoter in a pending state instead, requiring manual acceptance or rejection.
    PromoterUpdate:
      type: object
      properties:
        email:
          type: string
          format: email
          description: Email address of the promoter
        find_by:
          type: string
          enum:
          - email
          - cust_id
          - auth_token
          - ref_token
          - promo_code
          description: "Find by attribute. Required when you want to find the promoter using another parameter like the email, cust_id, auth_token, ref_token, or promo_code instead of an ID. \n \n  Your request should follow the format `https://api.firstpromoter.com/api/v2/company/promoters/{email, cust_id, auth_token, ref_token, or promo_code}`"
        cust_id:
          type:
          - string
          - 'null'
          description: Cust ID of the promoter
        custom_fields:
          type: array
          description: "Custom fields must be a Hash with the keys being the ones from the company custom fields and values must be String or Array of Strings. These are based on the custom fields that you set in your Settings > Affiliate portal > Custom fields.\n \n **Note**: Each item will have to be set as `custom_fields[my_custom_field_key]: my_custom_field_value`"
        profile:
          $ref: '#/components/schemas/PromoterProfile_2'
        profile[_destroy_w8form]:
          type: boolean
          description: Destroy W8 form
        profile[_destroy_w9form]:
          type: boolean
          description: Destroy W9 form
    CustomFieldFilter:
      type: object
      required:
      - key
      - operator
      - value
      properties:
        key:
          type: string
          description: The key custom_field key
        operator:
          type: string
          enum:
          - exact
          - partial
          description: The custom field operator
        value:
          oneOf:
          - type: string
          - type: array
            items:
              type: string
          description: The value of the custom field. Must be String or Array of strings
    PromoterListItem:
      type: object
      properties:
        id:
          type: integer
          description: Id of the promoter
        email:
          type: string
          description: Email address of the promoter
        name:
          type: string
          description: Full name of the promoter
        cust_id:
          type:
          - string
          - 'null'
          description: Cust ID of the promoter
        note:
          type:
          - string
          - 'null'
          description: Optional note about the promoter
        stats:
          type: object
          description: Performance statistics for the promoter
          properties:
            clicks_count:
              type: integer
              description: Number of clicks generated
            referrals_count:
              type: integer
              description: Number of referrals generated
            sales_count:
              type: integer
              description: Number of sales generated
            customers_count:
              type: integer
              description: Number of customers referred
            revenue_amount:
              type: integer
              description: Total revenue generated
            active_customers_count:
              type: integer
              description: Number of active customers
        is_customized:
          type: boolean
          description: Whether the promoter has customized settings
        fraud_suspicions:
          type: array
          description: List of potential fraud flags
          items:
            type: string
        is_confirmed:
          type: boolean
          description: Whether the promoter has confirmed their account
        invoice_details_status:
          type: string
          description: Status of the promoter's invoice details
          enum:
          - pending
          - approved
          - denied
        profile:
          $ref: '#/components/schemas/PromoterProfile_2'
        joined_at:
          type: string
          format: date-time
          description: Date and time when the promoter joined.
        last_login_at:
          type:
          - string
          - 'null'
          format: date-time
          description: Date and time of the promoter's last login.
        archived_at:
          type:
          - string
          - 'null'
          format: date-time
          description: Date and time when the promoter was archived, if applicable.
        custom_fields:
          type:
          - object
          - 'null'
          description: Custom fields for the promoter, based on company settings. This is a key-value pair object where keys are custom field identifiers and values are the corresponding data.
        password_setup_url:
          type:
          - string
          - 'null'
          description: URL for the promoter to set up their password
        first_event_at:
          type: string
          format: date-time
          description: Date and time of the promoter's first activity.
        promoter_campaigns:
          type: array
          description: List of campaigns associated with the promoter
          items:
            type: object
            properties:
              id:
                type: integer
                description: ID of the promoter-campaign association
              campaign_id:
                type: integer
                description: ID of the campaign
              promoter_id:
                type: integer
                description: ID of the promoter
              state:
                type: string
                description: State of the promoter in this campaign
                enum:
                - pending
                - accepted
                - rejected
                - blocked
                - inactive
                - not_set
              created_at:
                type: string
                format: date-time
                description: When the promoter was added to the campaign
              campaign:
                type: object
                properties:
                  id:
                    type: integer
                    description: ID of the campaign
                  name:
                    type: string
                    description: Name of the campaign
                  color:
                    type: string
                    description: Color code associated with the campaign
              coupon:
                type: string
                description: Coupon code for this campaign
              ref_token:
                type: string
                description: Referral token for this campaign
              ref_link:
                type: string
                description: Referral link for this campaign
        balances:
          type: object
          description: Earnings balance breakdown for the promoter
          properties:
            cash:
              type:
              - number
              - 'null'
            credits:
              type:
              - number
              - 'null'
            points:
              type:
              - number
              - 'null'
            free_months:
              type:
              - number
              - 'null'
            discount:
              type:
              - number
              - 'null'
        track_ad_traffic:
          type:
          - boolean
          - 'null'
          description: Whether ad traffic tracking is enabled for this promoter. Null means the campaign default is used.
        auth_provider:
          type:
          - string
          - 'null'
          description: OAuth provider used to authenticate (e.g. google). Null if using email/password.
        selected_payout_method:
          type:
          - object
          - 'null'
          description: The promoter's currently selected payout method. Omitted when the `exclude_payout_method=true` query parameter is set.
          properties:
            id:
              type: integer
            method:
              type: string
            date_added:
              type: string
              format: date-time
            is_disabled:
              type: boolean
    Ids:
      type: array
      description: Array of promoter ids. If there are more than __5__ ids on this param/field, the action will be processed asynchronously. The response for the batch status will most likely be `in_progress`. The available statuses are `pending`, `in_progress`, `completed`, `failed` and `stopped`
      items:
        type: integer
  parameters:
    AccountId:
      name: Account-ID
      in: header
      required: true
      description: Account identifier that specifies which account is making the request
      schema:
        type: string
        example: acc_123456
    AccountId_2:
      name: Account-ID
      in: header
      required: true
      description: Account id. You can find your Account ID on Your FirstPromoter Dashboard. Navigate to Settings → Integrations
      schema:
        type: string
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: Access token passed as a Bearer token in the Authorization header
    accountId:
      type: apiKey
      in: header
      name: ACCOUNT-ID
      description: Account ID required with bearer token
x-refined-from:
- firstpromoter-v2-affiliate-promoters-openapi.yml
- firstpromoter-v2-promoters-openapi.yml
